<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_prm392">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectPRM392"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Transaction.Paying.SemesterFeeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Authentication.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.QR.QRGenerateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.QR.QRScanActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.Base.PinIntroActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Base.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Report.ReportListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.Paying.PayingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Payment.ListPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".Adapter.BankAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Activity.Transaction.TransactionView.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.TransactionView.ListAllTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StudentInformation.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StudentInformation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.TransactionStatus.TransactionResultActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StudentInformation.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StudentInformation.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Security.SetUpPINCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Security.PINActivity"

            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Payment.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.TransferActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Transaction.TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Authentication.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Security.EnterCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Authentication.SetupPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Base.MainActivity"
            android:exported="false" />
    </application>

</manifest>